<h1>Página Inicial</h1>
<div class="bigBox">
    <div class="miniBox">
        <a href="user">Ver Usuário cadastrados</a>
    </div>
    <div class="miniBox">
        <a href="books">Ver Livros cadastrados</a>
    </div>
</div>